<% skin myskin %>
<% view integer uses content::integer extends master %>
<% template title() %><% include master::title() %> :: <%= page_title %><% end %>
<% template page_content() %>
  <%= page_content | raw %>
  <%= i | raw %>
<% end template %> 
<% end view %>
<% end skin %>
